{% extends 'base.html' %}
{% block content %}
  <h3>Admin: Users (Dev only)</h3>
  <table class="table table-sm">
    <thead><tr><th>ID</th><th>Username</th><th>OTP Secret</th><th>Failed</th><th>Locked Until</th></tr></thead>
    <tbody>
      {% for u in users %}
        <tr>
          <td>{{ u[0] }}</td>
          <td>{{ u[1] }}</td>
          <td>{{ u[2] }}</td>
          <td>{{ u[3] }}</td>
          <td>{{ u[4] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
